<div class="nav-setting">
  <div class="ui buttons">
    <div class="ui floating dropdown button">
      <i class="icon bars"></i>
      <div class="menu">
        <% if (user) { %>
          <a class="item" href="/user/profile">个人主页</a>
          <div class="divider"></div>
          <a class="item" href="/user/signout">登出</a>
        <% } else { %>
          <a class="item" href="/user/signin">登录</a>
          <a class="item" href="/user/signup">注册</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
